<div>
  <form name="drawingToolsForm" class="form-inline svg-editor" role="form" autocomplete="off">
    <div class="form-group btn-group">
      <button type="button"
              class="btn btn-default"
              ng-class="btnClass(mode.mode)"
              ng-repeat="mode in modes"
              ng-click="setMode(mode.mode)">
        <i class="glyphicon glyphicon-{{mode.icon}}"></i> {{mode.mode | titleCase}}
      </button>
      <button type="button" class="btn btn-default" ng-click="clearDrawing()">
        <i class="glyphicon glyphicon-trash"></i> Clear
      </button>
    </div>

    <div class="form-group has-feedback">
      <label class="control-label">Fill:</label>
      <input colorpicker="rgba"
             class="form-control"
             ng-model="style.fill"
             type="text"
             colorpicker-fixed-position="true"
             colorpicker-parent="true"
             autocomplete="off"/>
			<span class="glyphicon glyphicon-stop form-control-feedback" ng-style="{'color': 'rgba(' + style.fill + ')'}">
      </span>
    </div>

    <div class="form-group has-feedback">
      <label>Stroke:</label>
      <input colorpicker="rgba"
             class="form-control"
             ng-model="style.stroke"
             type="text"
             colorpicker-fixed-position="true"
             colorpicker-parent="true"
             autocomplete="off"/>
			<span class="glyphicon glyphicon-stop form-control-feedback" ng-style="{'color': 'rgba(' + style.stroke + ')'}">
      </span>
    </div>

    <div class="form-group">
      <label>Stroke Width:</label>
      <input type="number"
             name="width"
             step="1"
             min="1"
             max="6"
             ng-model="style.strokeWidth"
             class="form-control stroke-width"
             regex-validate="{{settings.intPattern}}"
             autocomplete="off"/>
      <span class="validation-popup" ng-show="drawingToolsForm.width.$error.regexValidate">Valid Range: 1 - 6</span>
    </div>
  </form>
</div>
